<div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Share with friends</h5>
                </div>
                <div class="card-body">
                    <p>Sensor locations are also an evacuation assembly area. They are used a safe zone away from a fired, marked in advance, where residents can congregate in the event of an emergency evacuation, such as a fire.</p>
                    <button class="btn btn-primary" (click)="onShare()">Share on Ayoba</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Sensor location</h5>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header ">
                        Google Maps
                    </div>
                    <div class="card-body ">
                        <div id="map" class="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>