<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Notifications</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-plain">
                            <div class="card-header">
                                <h5 class="card-title">Latest notifications</h5>
                            </div>
                            <div class="card-body">
                                <div *ngFor="let alert of colourIndications; let i = index" [attr.data-index]="i" class="alert alert-info alert-with-icon alert-dismissible fade show" data-notify="container">
                                    <button type="button" aria-hidden="true" (click)="onClose(i)" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="nc-icon nc-simple-remove"></i>
                  </button>
                                    <span data-notify="icon" class="nc-icon nc-chart-pie-36"></span>
                                    <span data-notify="message">{{ alert.info }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
