<div>
    <div class="row">
        <!-- User Profile -->
        <div class="col-md-12">
            <div class="card card-user">
                <div class="image">
                    <img src="assets/img/304.jpg" alt="...">
                </div>
                <div class="card-body">
                    <div class="author">
                        <a href="#">
                            <button class="avatar btn-danger border-gray" (click)="sos()">SOS</button>

                            <h5 class="title">{{ currentNickname }} </h5>
                        </a>
                        <p class="description">
                            {{ currentNickname }}
                        </p>
                    </div>
                    <p class="description text-center">
                        In case of fire press SOS button
                        <br> Uma kwenzeka ucindezela inkinobho ye-SOS
                        <br>Druk op die SOS-knoppie in die geval van 'n brand
                    </p>
                </div>
            </div>
        </div>
        <!-- User Profile End-->
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Send alertify status to friend</h5>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled team-members">
                        <li>
                            <div class="row">
                                <div class="col-md-2 col-2">
                                    <div class="avatar">
                                        <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                    </div>
                                </div>
                                <div class="col-md-7 col-7">
                                    Receiver
                                    <br />
                                    <span class="text-muted">
                    <small>Offline</small>
                  </span>
                                </div>
                                <div class="col-md-3 col-3 text-right">
                                    <button (click)="onAlert()" class="btn btn-sm btn-outline-success btn-round btn-icon"><i
                      class="fa fa-envelope"></i></button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>