<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Emergency Numbers</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>
                                Name
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Province
                            </th>
                            <th class="text-right">
                                Number
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Emergency number for the police
                                </td>
                                <td>
                                    To report a serious crime – ongoing or otherwise – this is the number you need to dial.
                                </td>
                                <td>
                                    National
                                </td>
                                <td class="text-right">
                                    10111
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>